<h1>Welcome, <%= current_user.name %></h1>
<%= link_to 'Log out', logout_path(current_user), data: { turbo_method: :delete } %>
<%= link_to 'Delete account', user_path(current_user), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete your account? This cannot be undone." } %>
